<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/Templates/sidebar-01/images/profile.jpg);"></a>
        <ul class="list-unstyled components mb-5">

            <li><a href="#">Portfolyo</a></li>
            <li><a href="/About/AboutList/">Hakkımda</a></li>                      
            <li><a href="/Service/serviceList/">Hizmetler</a></li>
            <li><a href="/Statistic/Index/">İstatistikler</a></li>
            <li><a href="/Project/Index/">Projeler</a></li>
            <li><a href="/Category/CategoryList//">Kategoriler</a></li>
            <li><a href="/Adress/AdressList">İletişim Bilgileri</a></li>
            <li><a href="/Contact/MessageList">Gelen Mesajlar</a></li>
            <li><a href="/Skill/SkillList">Yetenekler</a></li>
            <li><a href="/Profile/ProfileList/">Profil</a></li>
            <li><a href="/SocialMedia/SocialMediaList/">Sosyal Medyalarım</a></li>
            <li><a href="/Testimonial/Testimonial/">Referanslarım</a></li>
            <li><a href="/Admin/Login/">Çıkış Yap</a></li>
        </ul>

        <div class="footer">
            <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> 
                <br />
                Tüm Hakları Saklıdır 
            </p>
        </div>
    </div>
</nav>
