
@{
    ViewBag.Title = "CreateService";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Hizmet Girişi</h2>

<form method="post">
    <label>Konu</label>
    <input type="text" class="form-control" name="ServiceTitle" />
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" />
    <br />
    <label>Resim</label>
    <input type="text" class="form-control" name="ServiceImageUrl" />
    <br />
    <button class="btn btn-info">  Kaydet</button>
</form>
