@model DevFolio.Models.TblAdress

@{
    ViewBag.Title = "CreateAdress";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Adres Girişi</h2>

<form method="post">
    <label>Açıklama</label>
    <input type="text" class="form-control" name="Description" />
    <br />
    <label>Konum</label>
    <input type="text" class="form-control" name="Location" />
    <br />
    <label>Email</label>
    <input type="text" class="form-control" name="Email" />
    <br />
    <label>Telefon</label>
    <input type="text" class="form-control" name="PhoneNumber" />
    <br />
    <button class="btn btn-info"> Adres Bölümünü Kaydet</button>
</form>